<mat-toolbar color="primary">
    <span>CHAT APP</span>
    <button mat-button>USERS</button>
    <button mat-button>GROUP</button>
</mat-toolbar>
<div class="wrapper">
    <div class="row">
        <div *ngFor="let user of users" class="col-12 col-sm-6">
            <app-custom-card [data]="user" (removeClicked)="removeUser($event, data)"></app-custom-card>
        </div>
        <div class="col-xs-12">
            <button md-button class="pull-right" (click)="addNewUser()">ADD USER</button>
        </div>
    </div>
</div>